{% extends "base.html" %}

{% block content %}

  {% include "includes/navigation.html" %}
  <section class="py-sm-7 py-5 position-relative" style="background-color: #bdc6d1">
    <div class="container">
      <br>
  <br>
  <br>
  <br>
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5 border-radius-xl" style="background-color: #E6ebf1">
            <div class="col-lg-3 col-md-5 position-relative my-auto" style="padding-left: 70px">
              <img class="img border-radius-lg max-width-200 w-100 position-static z-index-2"
                   src="{{ ASSETS_ROOT }}/img/chef-avatar.jpg">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2"
                   style="padding-top: 10px; padding-right: 20px">
                <h4 class="mb-0">{{ cook.first_name }} {{ cook.last_name }}</h4>
                <div class="d-block">
                  <a href="{% url 'kitchen:cook-update' pk=cook.id %}">Settings &nbsp;
                    <i class="fa fa-cog"></i></a>
                </div>
                <div class="d-block">
                  <a href="{% url 'kitchen:cook-delete' pk=cook.id %}">Delete &nbsp;
                    <i class='fas fa-trash-alt'></i>  </a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ cook.id }}</span>
                  <span>Id</span>
                </div>
                <div class="col-auto">
                  {% if cook.years_of_experience %}
                    <span class="h6">
                      {{ cook.years_of_experience }}
                    </span>
                    <span>Years of experience</span>
                  {% endif %}
                </div>
                <div class="col-auto">
                  <span class="h6">Is staff:</span>
                  <span>{{ cook.is_staff }}</span>
                </div>
              </div>
              <div class="ml-3">
                <h4>Dishes</h4>
                {% for dish in cook.dishes.all %}
                  <hr>
                  <p><strong>Dish:</strong> {{ dish.name }}</p>
                  <p><strong>Dish type:</strong> {{ dish.type.type }}</p>
                  <a href="{% url 'kitchen:dish-detail' pk=dish.id %}"
                     class="text-muted"><strong>Id:</strong> {{ dish.id }}</a>
                {% empty %}
                  <p>No dishes!</p>
                {% endfor %}
                <br>
  <br>
  <br>
  <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
