{% extends "base.html" %}

{% block content %}
  {% include "includes/navigation-light.html" %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"
                   src="{{ ASSETS_ROOT }}/img/food.jpg">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ dish.name }}</h4>
                <div class="d-block">
                  <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-dark">
                    Update
                  </a>
                </div>
                <div class="d-block">
                  <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger">
                    Delete
                  </a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ dish.id }}</span>
                  <span>Id</span>
                </div>
                <div class="col-auto">
                  <span class="h6">Dish type:</span>
                  <span>{{ dish.type }}</span>
                </div>
                <div class="col-auto">
                  <span class="h6">Price:</span>
                  <span>{{ dish.price }}</span>
                </div>
              </div>
              <div class="ml-3">
                <h4>Description: {{ dish.description }}</h4>
              </div>
              <div class="ml-3">
                <h4>Cooks:

                  {% if user in dish.cooks.all %}
                      <a href="{% url 'kitchen:dish-cook-add-delete' pk=dish.id %}" class="btn btn-danger btn-xs">
                        Delete me from this dish
                      </a>
                  {% else %}
                      <a href="{% url 'kitchen:dish-cook-add-delete' pk=dish.id %}" class="btn btn-success btn-xs ">
                        Assign me to this dish
                      </a>
                    {% endif %}

                </h4>
                {% for cook in dish.cooks.all %}
                  <li><a href="{% url 'kitchen:cook-detail' pk=cook.id %}">{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</a></li>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
