{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block content %}
  {% include "includes/navigation.html" %}
  <br>
  <br>
  <br>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
          <div class="container border-bottom" style="background: #ccd2db;">
            <div class="row justify-space-between py-3" style="height: 72px">
              <div class="col-lg-1 me-10" style="padding: 0">
                <p class="lead text-dark pt-1 mb-0">Dish types</p>
              </div>
              <div class="col-5 mx-lg-6">

                <form action="" method="get">
                  {{ search_form|crispy }}
                </form>

              </div>
              <div class="col-lg-2 mx-lg-2">
                <div class="nav-wrapper">
                  <a href="{% url 'kitchen:dishtype-create' %}" class="btn btn-default me-1"
                     aria-hidden="true"
                     style="margin-bottom: 0; background-color: #f1d3a5">
                    Create
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center py-2 mt-3" style="height: 20px">

          </div>

          {% if dishtype_list %}
            <div class="card border-0 shadow mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                    <tr>
                      <th class="border-0 rounded-start">#</th>
                      <th class="border-0">Type</th>
                      <th class="border-0">Update</th>
                      <th class="border-0">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in dishtype_list %}
                      <tr>

                        <td>{{ type.id }}</td>
                        <td>{{ type.type }}</td>
                        <td><a href="{% url 'kitchen:dishtype-update' pk=type.id %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                            class="fa fa-cog"></i></a></td>
                        <td><a href="{% url 'kitchen:dishtype-delete' pk=type.id %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                            class='fas fa-trash-alt'></i></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <style type="text/css">
                #centerLayer {
                    margin-left: 35%;
                    width: 40%;
                    padding: 10px;
                }
            </style>
            <div class="col-lg-12">
              <div class="pagination text-center" id="centerLayer" style="text-align: center">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fas fa-angle-double-left text-lg opacity-8"></i> first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">
                      <i class="fas fa-angle-left text-lg opacity-8"></i>
                      previous
                    </a>
                  {% else %}
                    <a><i class="fas fa-angle-double-left text-lg opacity-8"></i> first</a>
                    <i class="fas fa-angle-left text-lg opacity-8"></i> previous
                  {% endif %}

                  <span class="current-page">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next&nbsp;<i
                        class="fas fa-angle-right text-lg opacity-8"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"> last&nbsp;
                      <i class="fas fa-angle-double-right text-lg opacity-8"></i>

                    </a>
                  {% else %}
                    <a>next&nbsp;<i class="fas fa-angle-right text-lg opacity-8"></i> </a>
                    last&nbsp;<i class="fas fa-angle-double-right text-lg opacity-8"></i>
                  {% endif %}

                </span>
              </div>
            </div>
            </div>
            </div>

            </div>
            </div>


          {% else %}
            <p>There are no dish types.</p>
          {% endif %}

{% endblock %}
